<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.stylist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="com.stylist.permission.C2D_MESSAGE" />-->

    <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MEDIA_MOUNTED" />-->
        <!--<data android:scheme="file" />-->

    <!--</intent-filter>-->

    <permission
        android:name="com.stylist.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.stylist.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"

        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >


        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MEDIA_MOUNTED" />-->
            <!--<data android:scheme="file" />-->

        <!--</intent-filter>-->


        <activity
            android:name=".SplashFirstActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".askstylist.AskStylistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme1"
            >
        </activity>
        <activity
            android:name=".askstylist.AskStylistRequestListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme1"
            >
        </activity>
        <activity
            android:name=".askstylist.StylistResponseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme1"
            >
        </activity>
        
        <activity android:name=".askstylist.SyncAlertActivity" 
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
             android:windowSoftInputMode="adjustPan" /> 
        
        <activity
            android:name=".askstylist.StylistResponseDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Zoom_Crop_DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1675999079304774"
            android:exported="true" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"


            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".styleeditor.BrowseFromWarMain"
            android:label="@string/title_activity_my_closet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".wardrobe.MyClosetActivity"
            android:label="@string/title_activity_my_closet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".styleeditor.StyleEditorActivity"
            android:label="@string/title_activity_style_editor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".lookbook.LookBookActivity"
            android:label="@string/title_activity_look_book"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"


            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".TrendingActivity"
            android:label="@string/title_activity_trending"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".planner.PlannerActivity"
            android:label="@string/title_activity_planner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wishlist.WishListActivity"
            android:label="@string/title_activity_wish_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".StylistActivity"
            android:label="@string/title_activity_stylist"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".UploadActivity"
            android:label="@string/title_activity_upload"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".CroppingActivity"
            android:label="@string/title_activity_cropping"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".CropActivity"
            android:label="@string/title_activity_crop"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".askstylist.NewQueryActivity"
            android:label="@string/title_activity_new_query"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".askstylist.MyRequestActivity"
            android:label="@string/title_activity_my_request"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".FbLoginActivity"
            android:label="@string/title_activity_fb_login"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".UserDetailsActivity"
            android:label="@string/title_activity_user_details"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ImportFromFacebookActivity"
            android:label="@string/title_activity_import_from_facebook"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wardrobe.CategoryDetailActivity"
            android:label="@string/title_activity_category_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"


            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wardrobe.ItemDetailActivity"
            android:label="@string/title_activity_item_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"


            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Selector"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SelectorStyleEditor"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wardrobe.BrowseFromWardrobe"
            android:label="@string/title_activity_item_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"


            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".styleeditor.SelectWardrobeCategoryDetail"
            android:label="@string/title_activity_item_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wishlist.UploadWishListActivity"
            android:label="@string/title_activity_wish_list_item_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >


        </activity>
        <activity
            android:name=".wishlist.WishListItemActivity"
            android:label="@string/title_activity_wish_list_item"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".styleeditor.BrowseFromWishListActivity"
            android:label="@string/title_activity_browse_from_wish_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wardrobe.UploadWardribeActivity"
            android:label="@string/title_activity_upload_wardribe"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED" />-->
                <!--<data android:scheme="file" />-->

            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".wardrobe.UploadOptionWardrobeActivity"
            android:label="@string/title_activity_upload_option_wardrobe"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED" />-->
                <!--<data android:scheme="file" />-->

            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".wardrobe.EditMyClosetActivity"
            android:label="@string/title_activity_edit_my_closet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wardrobe.wardrobe.EditCategory"
            android:label="@string/title_activity_edit_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wishlist.UploadOptionWishListActivity"
            android:label="@string/title_activity_upload_option_wish_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED" />-->
                <!--<data android:scheme="file" />-->

            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".lookbook.LookBookItemActivity"
            android:label="@string/title_activity_look_book_item"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wishlist.WishListItemDetail"
            android:label="@string/title_activity_wish_list_item_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wardrobe.NewCategoryActivity"
            android:label="@string/title_activity_new_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".CropConfirmActivity"
            android:label="@string/title_activity_crop_confirm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".styleeditor.SelectWishListItemActivity"
            android:label="@string/title_activity_select_wish_list_item"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".UploadLookActivity"
            android:label="@string/title_activity_upload_look"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wardrobe.AllClosetItemActivity"
            android:label="@string/title_activity_all_closet_item"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait" >
        </activity>

        <!-- android:theme="@style/Theme.Transparent"-->
        <activity
            android:name=".wardrobe.UploadWardrobeWithDescriptionPop"
            android:label="@string/title_activity_upload_wardrobe_with_description_pop"
            android:screenOrientation="portrait"


            android:theme="@android:style/Theme.Dialog"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".styleeditor.ColourPickerActivity"
            android:label="@string/title_activity_colour_picker"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".lookbook.UploadLookBook"
            android:label="@string/title_activity_upload_look_book"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".wishlist.UploadWishListDescriptionActivity"
            android:label="@string/title_activity_upload_wish_list_description"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED" />-->
                <!--<data android:scheme="file" />-->

            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".planner.AddLook"
            android:label="@string/title_activity_colour_picker"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".lookbook.UploadFromLookbook"
            android:label="@string/title_activity_colour_picker"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".planner.PlannerDetailList"
            android:label="@string/title_activity_colour_picker"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".planner.PlannerDetailItem"
            android:label="@string/title_activity_colour_picker"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".NotificationHandelar" >
        </activity>
        <activity
            android:name=".SyncDataActivity"
            android:label="@string/title_activity_sync_data"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ReferAppActivity"
            android:label="@string/title_activity_refer_app"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".BuyTokenActivity"
            android:label="@string/title_activity_buy_token"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Transaction"
            android:label="@string/title_activity_buy_token"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ShareActivity"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".AboutUs"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TrendingDetailActivity"
            android:label="@string/title_activity_trending_detail"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PayUMoneyActivity"
            android:label="@string/title_activity_pay_umoney"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"

            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".PaymentSuccessActivity"
            android:label="@string/title_activity_payment_success"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".lookbook.LooksByStylistActivity"
            android:label="@string/title_activity_looks_by_stylist"
            android:theme="@style/AppTheme1"

            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LooksbyStylistDetailActivity"
            android:theme="@style/AppTheme1"

            android:label="@string/title_activity_looksby_stylist_detail" >
        </activity>
        <activity
            android:name=".ServiceDialogActivity"
            android:label="@string/title_activity_service_dialog" >
        </activity>

        <!-- RSS Activities -->
        <activity
            android:name=".rssfeed.WeatherActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".rssfeed.AndroidRSSReaderApplicationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Add New Site Activity -->
        <activity
            android:name=".rssfeed.AddNewSiteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            />

        <!-- List rss items Activity -->
        <activity
            android:name=".rssfeed.ListRSSItemsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            />
     
     
        <!-- Display webpage Activity -->
        <activity
            android:name=".rssfeed.DisPlayWebPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <receiver android:name=".MyBroadcastReceiver" >
        </receiver>

       <service
            android:name=".BackServiceForCloset"
            android:exported="false"
            android:stopWithTask="true"/>
        <!-- <service
            android:name=".CategoryService"
            android:exported="false" />-->

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.stylist" />
            </intent-filter>
        </receiver>


        <!--<receiver android:name=".GcmBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.gcm.DISPLAY_MY_MESSAGE" />
            </intent-filter>
        </receiver>-->

        <service android:name=".GCMNotificationIntentService" />



        <activity
            android:name=".SplashMostFirst"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>